.calculator_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: stretch;
  font-family: "Gotham" !important;
}

.left_menu {
  padding: 30px 15px;
  align-self: stretch;
  max-width: 200px;
}

.wrapper {
  padding-bottom: 10px;
  font-family: "Gotham" !important;
}

.top_section_calc {
  background-color: white;
  padding: 30px calc(7% + 5px);
  border: 1px solid #d8d9da;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
}

.top_section {
  background-color: white;
  padding: 30px calc(7% + 5px);
  border: 1px solid #d8d9da;
  border-bottom: none;
}

.MuiFormHelperText-root {
  height: 0 !important;
  margin: 0 !important;
}

.steps_section {
  border: 1px solid #d8d9da;
}

.blue-step {
  background-color: #d8eaff;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 30px 7%;
}

.row {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  gap: 10px;
}

.row-stretch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  gap: 10px;
}

.middle {
  align-items: center;
}

.row-spacer {
  padding: 8px 0;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

input,
select {
  background-color: white !important;
  border-radius: 10px;
  font-family: "Gotham" !important;
}

.input {
  flex: 1;
  margin-right: 10px;
  font-family: "Gotham" !important;
}

.input:last-child {
  margin-right: 0;
}

.submit-button {
  flex: 1;
  margin-top: 20px;
  box-shadow: none !important;
  width: 100%;
}

.link {
  font-size: small;
  color: #2288ff;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.disclaimer {
  font-size: small;
  font-weight: 300;
  font-style: italic;
  color: #6e6e6e;
  margin: 10px 0;
}

.title {
  font-size: 20px;
  font-weight: 400;
}

.subtitle {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
}

.label {
  font-size: 13px !important;
  margin-bottom: 8px;
  font-family: "Gotham" !important;
  color: #000 !important;
}

.error {
  text-align: center;
  font-size: small;
  color: red;
  position: relative;
  top: 5px;
  height: 0;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-left-color: #2288ff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.cars_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.car_box {
  display: flex;
  flex-direction: column;
  flex: 1 0 50px; /* Grow, shrink, basis */
  justify-content: center;
  align-items: center;
  border: 1px solid #b1d5ff;
  border-radius: 20px;
  padding: 30px 0;
  background-color: white;
}

.image-item p {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.car_image_small {
  width: 200px;
  height: 100px;
  position: relative;
  object-position: center;
  margin-left: 20px;
}

.car_image {
  width: 250px;
  height: 150px;
  position: relative;
  object-position: center;
  margin-left: 20px;
}

.car_image_calc {
  width: 150px;
  height: 150px;
  position: relative;
  object-position: center;
  margin-left: 20px;
}

.car_image img,
.car_image_calc img,
.car_image_small img {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain; /* or cover */
  object-position: center;
}

.big_number {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 12px;
}

.text-blue {
  color: #2288ff;
}

.text-gray {
  color: #8b8c8f;
}

.text-scratch {
  text-decoration: line-through;
}

.desktop {
  display: block;
}
.mobile {
  display: none;
}

@media screen and (max-width: 568px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .left_menu {
    max-width: 100%;
  }
  .calculator_wrapper {
    flex-direction: column;
    gap: 15px;
  }
  .row {
    flex-direction: column;
  }
  .row-mobile {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: flex-end;
  }
  .submit-button {
    min-width: 250px;
  }
  .container {
    padding: 15px 4%;
  }
  .top_section {
    padding: 15px 4%;
  }
  .car_image {
    display: none;
  }
  .middle {
    text-align: center;
  }
}
