.wrapper {
  padding: 20px;
  /* max-width: 600px; */
}

.top_section {
  background-color: white;
}

.steps_section {
  background-color: #eff6ff;
  border: 1px solid #D8D9DA;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .column {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
  }
  
  .input {
    flex: 1;
    margin-right: 10px;
  }
  
  .input:last-child {
    margin-right: 0;
  }
  
  .button {
    flex: 1;
  }